/* Self-hosted fonts (SIL Open Font License, see LICENSE-*.txt). Latin subset only: covers English and French.
   No font service is contacted: Lou promises no network requests that could see tax data. */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62% 125%;
  font-display: swap;
  src: url(./archivo-latin-wdth-normal.woff2) format('woff2');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./courier-prime-latin-400-normal.woff2) format('woff2');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./courier-prime-latin-700-normal.woff2) format('woff2');
}
